body {
  font-family: 'Open Sans', sans-serif;
  /*tudo que está no body terá essa fonte se não for especificado
  para alguma mudança*/
  text-align: center;
  margin: 0;
}
#hero {
  width: 592px;
  margin: 0 auto 72px;

}
/*auto: automaticamente ele preenche os espaços, alinhando ao meio como feito acima*/

#hero img {
  margin-bottom: 72px;
}

/*header(cabeçalho)*/
h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}
/*especificidade, estou entrando dentro de um elemento em sequência
para dar-lhe as características necessárias como, nesse caso, o negrito*/

span, a {
  color: #FF9900;
}

 /*2 parágrafos abaixo do cabeçalho*/ 
p, #footer {
color: #7d7987;
font-size: 14px;
line-height: 28px;
}

#footer a + a {
margin-left: 28px;
}


.line {
  width: 568px;
  height: 0px;

  margin: 0 auto 8px;

  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;

}

